<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Django App</title>
</head>
<body>
    <ul>
        <a href="{% url 'movies:list' %}">Ver peliculas</a>
        <a href="{% url 'movies:create'%}">Crear peliculas</a>
        <a href="{% url 'users:list' %}">Lista de usuarios</a>
        <a href="{% url 'users:create' %}">Crear un usuario</a>
    </ul>

    {% block content %}
    {% endblock content %}

    <footer> ACTOSOFT 2020</footer>
</body>
</html>